<div class="container">
<div class="row" style="margin-top: 16px;width: 1000px;">
<% if current_user.identities.find_by_provider("twitter") %>
  <div class="span5">
  <h1>Twitter Feeds</h1>
   
    <table class="table table-striped">
      <tr>
        
        <th> MY Tweets</th>
         <!-- <th> My Timeline </th> -->
      </tr>
    <% @tweets.each do |tweet| %>
        <tr>
          <td><%= link_to tweet.text, "https://www.twitter.com/#{tweet.user.screen_name}" %></td>
        </tr>
      <% end %>
     
  </table>
<%else%>
  <%= link_to "twitter", '/users/auth/twitter', :class => 'btn btn-primary' %>
 <%end%>
</div>
  </div>